ConsoleTetris/x64/Debug/ConsoleTetris.exe
ConsoleTetris/x64/Debug/ConsoleTetris.ilk
ConsoleTetris/x64/Debug/ConsoleTetris.log
ConsoleTetris/x64/Debug/ConsoleTetris.obj
ConsoleTetris/x64/Debug/ConsoleTetris.pdb
ConsoleTetris/x64/Debug/ConsoleTetris.vcxproj.FileListAbsolute.txt
ConsoleTetris/x64/Debug/vc142.idb
ConsoleTetris/x64/Debug/vc142.pdb
ConsoleTetris/x64/Debug/ConsoleTetris.tlog/CL.command.1.tlog
ConsoleTetris/x64/Debug/ConsoleTetris.tlog/CL.read.1.tlog
ConsoleTetris/x64/Debug/ConsoleTetris.tlog/CL.write.1.tlog
ConsoleTetris/x64/Debug/ConsoleTetris.tlog/ConsoleTetris.lastbuildstate
ConsoleTetris/x64/Debug/ConsoleTetris.tlog/link.command.1.tlog
ConsoleTetris/x64/Debug/ConsoleTetris.tlog/link.read.1.tlog
ConsoleTetris/x64/Debug/ConsoleTetris.tlog/link.write.1.tlog
ConsoleTetris/Debug/ConsoleTetris.tlog/CL.command.1.tlog
ConsoleTetris/Debug/ConsoleTetris.tlog/CL.read.1.tlog
ConsoleTetris/Debug/ConsoleTetris.tlog/CL.write.1.tlog
ConsoleTetris/Debug/ConsoleTetris.tlog/ConsoleTetris.lastbuildstate
ConsoleTetris/Debug/ConsoleTetris.tlog/link.command.1.tlog
ConsoleTetris/Debug/ConsoleTetris.tlog/link.read.1.tlog
ConsoleTetris/Debug/ConsoleTetris.tlog/link.write.1.tlog
ConsoleTetris/Debug/ConsoleTetris.exe
ConsoleTetris/Debug/ConsoleTetris.ilk
ConsoleTetris/Debug/ConsoleTetris.log
ConsoleTetris/Debug/ConsoleTetris.obj
ConsoleTetris/Debug/ConsoleTetris.pdb
ConsoleTetris/Debug/ConsoleTetris.vcxproj.FileListAbsolute.txt
ConsoleTetris/Debug/vc142.idb
ConsoleTetris/Debug/vc142.pdb
ConsoleTetris/.vs/ConsoleTetris/v16/.suo
ConsoleTetris/.vs/ConsoleTetris/v16/Browse.VC.db
ConsoleTetris/.vs/ConsoleTetris/v16/ipch/AutoPCH/8f9cc12ae1250f40/CONSOLETETRIS.ipch
ConsoleTetris/.vs/ConsoleTetris/v16/ipch/AutoPCH/cc868b90648dfdab/CONSOLETETRIS.ipch
ConsoleTetris/ConsoleTetris.vcxproj.user
ConsoleTetris/ConsoleTetris.vcxproj.filters
ConsoleTetris/ConsoleTetris.vcxproj
ConsoleTetris/ConsoleTetris.sln
